.EasyMDEContainer .CodeMirror {
  background-color: rgba(255, 255, 255, 0.1) !important; 
  color: #ffffff !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.75rem; 
  padding: 1rem;
  min-height: 300px;
}

.EasyMDEContainer .CodeMirror pre.CodeMirror-placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}
.editor-toolbar {
  margin-bottom: 0.75rem; 

  border: 1px solid white !important; 
  border-radius: 0.5rem;
}

